body, html{
	text-align: center;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #fff;
}

.jumbotron.leader{
	height: 50%;
	background-color: #3B8183;
	margin-bottom: 0px;
}

.wrapper{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

h2.name.leader{
	margin: 0;
	font-size: 48px;
	line-height: 64px;
}

h3.name{
	font-size: 32px;
	line-height: 38px;
	margin: 0;
}

p.count.leader{
	font-size: 32px;
}

p.count{
	font-size: 24px;
	line-height: 24px;
}

.runnersUp{
	height: 50%;
}

.container-fluid{
	padding: 0;
	height: 100%;
}

.col-md-3{
	height: 100%;
}

.col-md-3:nth-child(1){
	background-color: #ED303C;
}

.col-md-3:nth-child(2){
	background-color: #F5634A;
}

.col-md-3:nth-child(3){
	background-color: #FF9C5B;
}

.col-md-3:nth-child(4){
	background-color: #FAD089;
}