body, html{
	text-align: center;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #fff;
}

.jumbotron.position1{
	height: 50%;
	background-color: #3B8183;
	margin-bottom: 0px;
	padding: 0;
}

.jumbotron.fullpage{
	height: 100%;
	background-color: #3B8183;
	margin: 0;
}

.add{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: none;
	padding: 100px;
	z-index: 2;
	position: relative;
	margin-top: -103px;
}

.col-md-3{
	padding: 0;
}

.col-md-3 .add{
	margin-top: -72px;
}

.addButton{
	height: 92px;
	font-size: 92px;
	font-weight: bold;
}

.addButton:hover{
	cursor: pointer;
}

.wrapper{
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

h2.name.position1{
	margin: 0;
	font-size: 48px;
	line-height: 64px;
}

h3.name{
	font-size: 32px;
	line-height: 38px;
	margin: 0;
}

p.count.position1{
	font-size: 32px;
}

p.count{
	font-size: 24px;
	line-height: 24px;
}

.runnersUp{
	height: 50%;
}

.container-fluid{
	padding: 0;
	height: 100%;
}

.col-md-3{
	height: 100%;
}

.col-md-3:nth-child(1){
	background-color: #ED303C;
}

.col-md-3:nth-child(2){
	background-color: #F5634A;
}

.col-md-3:nth-child(3){
	background-color: #FF9C5B;
}

.col-md-3:nth-child(4){
	background-color: #FAD089;
}

/* Added by Patrick for modal content color */

.modal-content {
	color:black;
	text-align:intial;
}

.popup-form {
	text-align:left;
}

/* */
